HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Local configuration
src/main/resources/application.properties

# Category module
src/main/java/com/arishi/AXAM/controller/CategoryController.java
src/main/java/com/arishi/AXAM/service/CategoryService.java
src/main/java/com/arishi/AXAM/service/impl/CategoryServiceImpl.java
src/main/java/com/arishi/AXAM/repo/CategoryRepo.java
src/main/java/com/arishi/AXAM/model/Category.java
src/main/java/com/arishi/AXAM/mapper/CategoryMapper.java
src/main/java/com/arishi/AXAM/dto/request/CategoryRequest.java
src/main/java/com/arishi/AXAM/dto/responce/CategoryResponse.java
src/main/java/com/arishi/AXAM/enums/CategoryStatus.java

# Question module
src/main/java/com/arishi/AXAM/controller/QuestionController.java
src/main/java/com/arishi/AXAM/service/QuestionService.java
src/main/java/com/arishi/AXAM/service/impl/QuestionServiceImpl.java
src/main/java/com/arishi/AXAM/repo/QuestionRepository.java
src/main/java/com/arishi/AXAM/model/Question.java
src/main/java/com/arishi/AXAM/mapper/QuestionMapper.java
src/main/java/com/arishi/AXAM/dto/request/QuestionRequest.java
src/main/java/com/arishi/AXAM/dto/responce/QuestionResponse.java
src/main/java/com/arishi/AXAM/enums/QuestionsStatus.java
